body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#mouse-div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
}

.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    /* color: #fff; */
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
#sidebarMenu {
    /* /* height: 100%;  */
    position: fixed;
    left: 0;
     width: 250px;
    /* margin-top: 60px; */
    /* transform: translateX(-250px); */
    /* transition: transform 250ms ease-in-out; */ 
    background: linear-gradient(180deg, rgb(155, 70, 252) 0%, #3F5EFB 100%);
    height: 100%;
}
.row{
    margin-left: 250px;
}